
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    border-radius: 50%;
    overflow: hidden;
    
    
  }
  h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
  }
  ul{
    list-style-type: none;
    padding: 0;
  }
  ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  ul li label{
    cursor: pointer;
  }